
<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{usuario}} </ion-title>
    <ion-buttons slot="end">
      <ion-button>
      <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="navigateToPage()">
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Agendar Tareas o Pruebas</ion-label>
    </ion-item>
  </ion-card>
  <ion-card (click)="navigateToPage2()">
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Crear Grupos</ion-label>
    </ion-item>
  </ion-card>
  <ion-card (click)="navigateToCalendar()">
    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="person-outline" (click)="navigateToPerfil()"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="log-out-outline" (click)="logout()"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
